alias e=$EDITOR
alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'

alias zshrc='$EDITOR ~/.zshrc'
alias vimrc='$EDITOR ~/.config/nvim/init.vim'
alias aliases='$EDITOR ~/.aliases'
alias zsh_history='$EDITOR ~/.zsh_history'
alias gitconfig='$EDITOR ~/.gitconfig'

alias svimrc='source ~/.config/nvim/init.vim'
alias saliases='source ~/.aliases'
alias sgitconfig='source ~/.gitconfig'

alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

### Navigation ###
alias dev='cd ~/Developer'
alias desk='cd ~/Desktop'
alias ~='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias iCloud='cd $HOME/Library/Mobile\ Documents'
alias 1="cd $(mdfind 'kMDItemUserTags=current-project' -onlyin ~/Developer)"

### git ###
alias g='git'

alias ga='git add'
alias gau='git add --update'

alias gb='git branch'
alias gc!='git commit -v --amend'

alias gc='git commit -v'

alias gcl='git clone --recurse-submodules'
alias gco='git checkout'

batdiff()
alias gd='git diff'
alias gdca='git diff --cached'

alias gl='git pull'
alias glg='git log --stat'
alias glg='git log --stat --patch'
alias glol="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'"
alias glols="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --stat"
alias glola="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --all"
alias glog='git log --oneline --decorate --graph'
alias gloga='git log --oneline --decorate --graph --all'

alias gm='git merge'
alias go='git open'

alias gpo='git push'

alias gr='git remote'
alias grv='git remote -v'

alias gsb='git status -sb'
alias gss='git status --short'
alias gst='git status'


### dotfiles ###
alias config='/usr/bin/git --git-dir=/Users/elijahgray/.cfg/ --work-tree=/Users/elijahgray'

alias c='config'

alias ca='config add'
alias cau='config add --update'

alias cb='config branch'

alias cc!='config commit -v --amend'
alias cc='config commit -v'
alias cco='config checkout'

alias cd='config diff'
alias cdca='config diff --cached'

alias cl='config pull'
alias clg='config log --stat'
alias clg='config log --stat --patch'
alias clol="config log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'"
alias clols="config log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --stat"
alias clola="config log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --all"
alias clog='config log --oneline --decorate --graph'
alias cloga='config log --oneline --decorate --graph --all'

alias cm='config merge'

alias co='config open'

alias cpo='config push'

alias cr='config remote'
alias crv='config remote -v'

alias csb='config status -sb'
alias css='config status --short'
alias cst='config status'


# Misc
alias mkfolder='mkdir ~/Desktop/Folder && echo "This is a File" > ~/Desktop/Folder/File{1..3}.txt'
 
alias whic='which'
