[user]
	name = neovrnaz
	email = neovrnaz@gmail.com
[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[delta]
  features = decorations
  navigate = true
[core]
  edtior = nvim
  pager = delta
  excludesfile = ~/.gitignore_global
[pager]
  diff = delta
  show = delta
  log = delta
  blame = delta
  reflog = delta
[interactive]
  diffFilter = delta --color-only
[alias]
  alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[merge]
  conflictstyle = diff3
  tool = bc
[diff]
  colorMoved = default
[mergetool "bc"]
  trustExitCode = true
