[user]
	name = neovrnaz
	email = neovrnaz@gmail.com
[color]
  # Enable colors in color-supporting terminals
  ui = auto
[init]
	defaultBranch = main
[delta]
    syntax-theme = material
    features = decorations
[core]
	edtior = nvim
    pager = --theme='Material'
[pager]
    diff = delta
    show = delta
    log = delta
    blame = delta
    reflog = delta
[interactive]
    diffFilter = delta --color-only
[alias]
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
